@import '~highlight.js/styles/atom-one-dark.css';
/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PingFang SC","Microsoft YaHei UI", sans-serif;
}
@media screen and (max-width:3600px) {
  html {
    font-size: 18px;
  }
}
@media screen and (max-width:2400px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width:1800px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width:1200px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width:992px) {
  html {
    font-size: 13px;
  }
}
@media screen and (max-width:768px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width:480px) {
  html {
    font-size: 10px;
  }
}







