<section class="flex-row main">
  <div class="flex-1 card" *ngFor="let dropList of statusList;">
    <header>{{dropList.name}}</header>
    <ul rpsDrop (rpsDrop)="onUlDrop($event)" (dragover)="dragover($event)">
      <li *ngFor="let item of dropList.list; index as i"
          draggable="true"
          class="card-item"
          [id]="item.id"
          rpsDrag
          [rpsDragData]="item.id"
          (rpsDragStart)="onDragStart($event, item.id)"
          (rpsDragEnd)="onDragEnd($event, item.id)"
          (dragenter)="onDragEnter($event)"
          (dragover)="dragover($event)"
      >{{item.name}}</li>
    </ul>
  </div>
<!--  <div class="flex-1 card">-->
<!--    <header>状态B</header>-->
<!--    <ul rpsDrop (rpsDrop)="onUlDrop($event)" (dragover)="dragover($event)"></ul>-->
<!--  </div>-->
<!--  <div class="flex-1 card">-->
<!--    <header>状态C</header>-->
<!--    <ul rpsDrop (rpsDrop)="onUlDrop($event)"></ul>-->
<!--  </div>-->
<!--  <div class="flex-row flex-1">-->
<!--    <div class="card wh50p ">-->
<!--      <header>状态D</header>-->
<!--      <ul rpsDrop (rpsDrop)="onUlDrop($event)"></ul>-->
<!--    </div>-->
<!--    <div class="wh50p card">-->
<!--      <header>状态E</header>-->
<!--      <ul rpsDrop (rpsDrop)="onUlDrop($event)"></ul>-->
<!--    </div>-->
<!--    <div class="wh50p card">-->
<!--      <header>状态D</header>-->
<!--      <ul rpsDrop (rpsDrop)="onUlDrop($event)"></ul>-->
<!--    </div>-->
<!--    <div class="wh50p card">-->
<!--      <header>状态E</header>-->
<!--      <ul rpsDrop (rpsDrop)="onUlDrop($event)"></ul>-->
<!--    </div>-->
<!--    <div class="wh50p card">-->
<!--      <header>状态F</header>-->
<!--      <ul rpsDrop (rpsDrop)="onUlDrop($event)"></ul>-->
<!--    </div>-->
<!--    <div class="wh50p card">-->
<!--      <header>状态G</header>-->
<!--      <ul rpsDrop (rpsDrop)="onUlDrop($event)"></ul>-->
<!--    </div>-->
<!--  </div>-->

</section>
