.flex-row{
  display: flex;
  flex-wrap: wrap;
}
.flex-1{
  flex: 1;
}
.main {
  height: calc(100vh  - 5rem);
}
.wh50p{
  width: 50%;
  height: 50%;
}
.card{
  position: relative;
  padding: 2rem 0.4rem 0.4rem 0.4rem;
  height: 100%;
  header{
    position: absolute;
    top: 0.2rem;
  }
  ul{
    height: 100%;
    border: 1px #ddd solid;
    list-style: none;
    overflow-y: auto;
    position: relative;
  }
}
.card-item{
  height: 8rem;
  border: 1px solid;
  margin: 0.2rem;
}
