<header>{{previewTitle}}</header>

<nav class="tab-nav">
  <div class="tab-name"
       [class.active]="showDemoTab"
       (click)="selectTab('demo')">
    Demo
  </div>
  <div *ngIf="htmlContent"
       class="tab-name"
       [class.active]="showHtmlTab"
       (click)="selectTab('html')">
    Html
  </div>
  <div *ngIf="cssContent"
       class="tab-name"
       [class.active]="showCssTab"
       (click)="selectTab('css')">
    CSS
  </div>
  <div *ngIf="codeContent"
       class="tab-name"
       [class.active]="showCodeTab"
       (click)="selectTab('code')">
    Code
  </div>
</nav>

<section class="content">
  <ng-container *ngIf="showDemoTab">
    <ng-content></ng-content>
  </ng-container>

  <div *ngIf="showHtmlTab" class="html-content">
    <pre><code [highlight]="htmlContent" [lineNumbers]="true"></code></pre>
  </div>

  <div *ngIf="showCssTab" class="css-content">
    <pre><code [highlight]="cssContent" [lineNumbers]="true"></code></pre>
  </div>

  <div *ngIf="showCodeTab" class="code-content">
    <pre><code [highlight]="codeContent" [lineNumbers]="true"></code></pre>
  </div>
</section>
