@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1624426237463') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinhao:before {
  content: "\e662";
}

.icon-wuxinhaoqu:before {
  content: "\e663";
}

.icon-xianlu:before {
  content: "\e664";
}

.icon-zongbu:before {
  content: "\e665";
}

.icon-diqiu:before {
  content: "\e666";
}

.icon-chucundingweiqi:before {
  content: "\e667";
}

.icon-fangwudingwei:before {
  content: "\e668";
}

.icon-ditu:before {
  content: "\e669";
}

.icon-ditudingwei:before {
  content: "\e66a";
}

.icon-fangzi:before {
  content: "\e66b";
}

.icon-gongyuan:before {
  content: "\e66c";
}

.icon-lubiao:before {
  content: "\e66d";
}

.icon-qizhi:before {
  content: "\e66e";
}

.icon-qichedaohang:before {
  content: "\e66f";
}

.icon-fangxiang:before {
  content: "\e670";
}

.icon-weixing:before {
  content: "\e671";
}

.icon-yidongdianzi:before {
  content: "\e672";
}

.icon-zhuban:before {
  content: "\e673";
}

.icon-rengongzhineng:before {
  content: "\e674";
}

.icon-cpu:before {
  content: "\e675";
}

.icon-yunjishu:before {
  content: "\e676";
}

.icon-weixinpian:before {
  content: "\e677";
}

.icon-SIMqia:before {
  content: "\e678";
}

.icon-gpu:before {
  content: "\e679";
}

.icon-chouxiangjishu:before {
  content: "\e67a";
}

.icon-chouxiangdianzijishu:before {
  content: "\e67b";
}

.icon-chuliqi:before {
  content: "\e67c";
}

.icon-chouxiangdianlu:before {
  content: "\e67d";
}

.icon-jishujiejuefangan:before {
  content: "\e67e";
}

.icon-mokuai:before {
  content: "\e67f";
}

.icon-dianziyuanqijian:before {
  content: "\e680";
}

.icon-hexin:before {
  content: "\e681";
}

.icon-chuangjiantuxing:before {
  content: "\e682";
}

.icon-gongju:before {
  content: "\e683";
}

.icon-D:before {
  content: "\e684";
}

.icon-yunhualang:before {
  content: "\e685";
}

.icon-gangbigongju:before {
  content: "\e686";
}

.icon-dayin:before {
  content: "\e687";
}

.icon-hualang:before {
  content: "\e688";
}

.icon-guolvqi:before {
  content: "\e689";
}

.icon-mofabang:before {
  content: "\e68a";
}

.icon-huabi:before {
  content: "\e68b";
}

.icon-tupian:before {
  content: "\e68c";
}

.icon-qibi:before {
  content: "\e68d";
}

.icon-tongbutuxiang:before {
  content: "\e68e";
}

.icon-tupianzhuanhua:before {
  content: "\e68f";
}

.icon-xuanzhuan:before {
  content: "\e690";
}

.icon-xiangji:before {
  content: "\e691";
}

.icon-tiaozhuangtu:before {
  content: "\e692";
}

.icon-shujuxiajiang:before {
  content: "\e693";
}

.icon-yanshi:before {
  content: "\e694";
}

.icon-zhexiantu:before {
  content: "\e695";
}

.icon-zhutaitu:before {
  content: "\e696";
}

.icon-zhuzhuangtu:before {
  content: "\e697";
}

.icon-tubiao:before {
  content: "\e698";
}

.icon-zhuzhuangtuduibi:before {
  content: "\e699";
}

.icon-Dtubiao:before {
  content: "\e69a";
}

.icon-bingtu:before {
  content: "\e69b";
}

.icon-bijiaotu:before {
  content: "\e69c";
}

.icon-bingtuduibi:before {
  content: "\e69d";
}

.icon-shuju:before {
  content: "\e69e";
}

.icon-shujutu:before {
  content: "\e69f";
}

.icon-shujuduibi:before {
  content: "\e6a0";
}

.icon-dianzan:before {
  content: "\e6a1";
}

.icon-fangdajing:before {
  content: "\e6a2";
}

.icon-baxin:before {
  content: "\e6a3";
}

.icon-dianpu:before {
  content: "\e6a4";
}

